New Text Document (2).txt
[
    {
        "id": "29e396d2.ea499a",
        "type": "tab",
        "label": "Openweather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c25474330c3cc7a",
        "type": "group",
        "z": "29e396d2.ea499a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fcb8cc8b.9a385",
            "d2405300.bc0c4",
            "68196c8e.5baf24",
            "516d23d7.1715ac",
            "d40fafdb.23e8a",
            "8294e410.69c018",
            "1fa70493.59214b",
            "f63a40d6.1da36",
            "2f1edf8d.d8bf9",
            "620ad976.fa4a88",
            "10f264bc.bb973b",
            "ed094b3f.f695c8",
            "1bdf23cd.2d05ec",
            "4dd7ed76.b625e4"
        ],
        "x": -6,
        "y": -1,
        "w": 1012,
        "h": 622
    },
    {
        "id": "fcb8cc8b.9a385",
        "type": "json",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "Data",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "68196c8e.5baf24",
                "516d23d7.1715ac",
                "ed094b3f.f695c8",
                "8294e410.69c018",
                "d40fafdb.23e8a",
                "d2405300.bc0c4"
            ]
        ]
    },
    {
        "id": "d2405300.bc0c4",
        "type": "debug",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 580,
        "wires": []
    },
    {
        "id": "68196c8e.5baf24",
        "type": "ui_gauge",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "",
        "group": "58f738de.c1e408",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload.main.temp}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "516d23d7.1715ac",
        "type": "ui_gauge",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "",
        "group": "58f738de.c1e408",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{msg.payload.main.pressure}}",
        "min": "0",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "d40fafdb.23e8a",
        "type": "ui_text",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "group": "58f738de.c1e408",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "City",
        "format": "{{msg.payload.name}} ",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "8294e410.69c018",
        "type": "ui_gauge",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "",
        "group": "58f738de.c1e408",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Wind speed",
        "label": "m/s",
        "format": "{{msg.payload.wind.speed}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "1fa70493.59214b",
        "type": "comment",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "Collect city and country ",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "f63a40d6.1da36",
        "type": "comment",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "Send to dashboard at http://35.201.13.26/ui/#!/0?socketid=Bok6AJs2ICQUHccQAAAp",
        "info": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "2f1edf8d.d8bf9",
        "type": "comment",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "Make a http request to openweathermp",
        "info": "",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "10f264bc.bb973b",
        "type": "http request",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "Openweathermap",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/weather?q={{msg.city}}&appid=YOUR_API_KEY&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "className": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "fcb8cc8b.9a385"
            ]
        ]
    },
    {
        "id": "ed094b3f.f695c8",
        "type": "ui_gauge",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "",
        "group": "58f738de.c1e408",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.main.humidity}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "1bdf23cd.2d05ec",
        "type": "ui_text",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "group": "58f738de.c1e408",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Country",
        "format": "{{msg.payload.sys.country}}",
        "layout": "row-left",
        "className": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "4dd7ed76.b625e4",
        "type": "inject",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "",
        "props": [
            {
                "p": "city",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "className": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "10f264bc.bb973b"
            ]
        ]
    },
    {
        "id": "620ad976.fa4a88",
        "type": "ui_text_input",
        "z": "29e396d2.ea499a",
        "g": "4c25474330c3cc7a",
        "name": "",
        "label": "Enter city",
        "tooltip": "",
        "group": "58f738de.c1e408",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "4dd7ed76.b625e4"
            ]
        ]
    },
    {
        "id": "58f738de.c1e408",
        "type": "ui_group",
        "name": "Weather",
        "tab": "3a1873c5.3b7ebc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a1873c5.3b7ebc",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
